#üìå 1 - EXTRA√á√ÉO

1.1 - EXTRA√á√ÉO DOS DADOS

In [51]:
import pandas as pd
import requests

url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/main/TelecomX_Data.json"

response = requests.get(url)
data = response.json()

df = pd.json_normalize(data)

#üîß 2 - TRANSFORMA√á√ÉO

2.1 - CONHECENDO O DATASET

2.1.1 - Ver colunas e tipos

In [52]:
# Exibe as primeiras linhas do DataFrame para uma vis√£o geral inicial dos dados
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [53]:
# Retorna a quantidade de linhas e colunas do DataFrame
df.shape

(7267, 21)

In [54]:
# Lista os nomes de todas as colunas do DataFrame
df.columns

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

In [55]:
# Mostra o tipo de dado de cada coluna (num√©rico, texto, booleano, etc.)
df.dtypes

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object

In [56]:
# Apresenta um resumo completo do DataFrame: tipos, valores n√£o nulos e uso de mem√≥ria
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

2.1.2. - Abrir o dicionario de dados

In [57]:
dic_url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/main/TelecomX_dicionario.md"
print(requests.get(dic_url).text)

#### Dicion√°rio de dados

* `customerID`: n√∫mero de identifica√ß√£o √∫nico de cada cliente
* `Churn`: se o cliente deixou ou n√£o a empresa
* `gender`: g√™nero (masculino e feminino)
* `SeniorCitizen`: informa√ß√£o sobre um cliente ter ou n√£o idade igual ou maior que 65 anos
* `Partner`:  se o cliente possui ou n√£o um parceiro ou parceira
* `Dependents`: se o cliente possui ou n√£o dependentes
* `tenure`:  meses de contrato do cliente
* `PhoneService`: assinatura de servi√ßo telef√¥nico
* `MultipleLines`: assisnatura de mais de uma linha de telefone
* `InternetService`: assinatura de um provedor internet
* `OnlineSecurity`: assinatura adicional de seguran√ßa online
* `OnlineBackup`: assinatura adicional de backup online
* `DeviceProtection`: assinatura adicional de prote√ß√£o no dispositivo
* `TechSupport`: assinatura adicional de suporte t√©cnico, menos tempo de espera
* `StreamingTV`: assinatura de TV a cabo
* `StreamingMovies`: assinatura de streaming de filmes
* `Contract`: tipo de contrato
* `PaperlessBilling`: se o cliente prefere receber online a fatura
* `PaymentMethod`: forma de pagamento
* `Charges.Monthly`: total de todos os servi√ßos do cliente por m√™s
* `Charges.Total`: total gasto pelo cliente

2.2 - VERIFICANDO INCONSIST√äNCIA NOS DADOS

2.2.1 ‚Äì Valores ausentes (missing values).

In [58]:
# Se h√° campos nulos/vazios por coluna
df.isna().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

2.2.2 - Verificar se h√° linhas duplicadas

In [59]:
# Se existem registros (linhas) repetidos.
df.duplicated().sum()

np.int64(0)

2.2.3 = Tipos de dados incompat√≠veis

In [60]:
# colunas que deveriam ser num√©ricas/datas, mas vieram como object
df.dtypes

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object

2.2.4 - Inconsist√™ncias em categorias

In [61]:
# se as colunas categ√≥ricas t√™m valores fora do esperado
df.nunique()

customerID                   7267
Churn                           3
customer.gender                 2
customer.SeniorCitizen          2
customer.Partner                2
customer.Dependents             2
customer.tenure                73
phone.PhoneService              2
phone.MultipleLines             3
internet.InternetService        3
internet.OnlineSecurity         3
internet.OnlineBackup           3
internet.DeviceProtection       3
internet.TechSupport            3
internet.StreamingTV            3
internet.StreamingMovies        3
account.Contract                3
account.PaperlessBilling        2
account.PaymentMethod           4
account.Charges.Monthly      1585
account.Charges.Total        6531
dtype: int64

2.2.4.1 - Avaliando cada coluna

In [62]:
df['customerID'].unique()

array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object)

In [63]:
df['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [64]:
df['customer.gender'].unique()

array(['Female', 'Male'], dtype=object)

In [65]:
df['customer.SeniorCitizen'].unique()

array([0, 1])

In [66]:
df['customer.Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [67]:
df['customer.Dependents'].unique()

array(['Yes', 'No'], dtype=object)

In [68]:
df['customer.tenure'].unique()

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 11, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14,
       35, 64, 39, 40,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 51, 31, 36,
       17, 18, 38, 42,  0])

In [69]:
df['phone.PhoneService'].unique()

array(['Yes', 'No'], dtype=object)

In [70]:
df['phone.MultipleLines'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [71]:
df['internet.InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [72]:
df['internet.OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [73]:
df['internet.OnlineBackup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [74]:
df['internet.DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [75]:
df['internet.TechSupport'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [76]:
df['internet.StreamingTV'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [77]:
df['internet.StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [78]:
df['account.Contract'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [79]:
df['account.PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [80]:
df['account.PaymentMethod'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [81]:
df['account.Charges.Monthly'].unique()

array([65.6 , 59.9 , 73.9 , ..., 91.75, 68.8 , 67.85])

In [82]:
df['account.Charges.Total'].unique()

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

2.3 - TRATANDO AS INCONSIST√äNCIAS

2.3.1 - Tratamento do Churn (valor vazio)

In [88]:
# Contagem de valores da coluna Churn (incluindo ausentes)
df['Churn'].value_counts(dropna=False)

Churn
No     5174
Yes    1869
NaN     224
Name: count, dtype: int64

In [89]:
# transformar '' em valor ausente (NaN)
import numpy as np

df['Churn'] = df['Churn'].replace('', np.nan)
df['Churn'].isna().sum()

np.int64(224)

2.3.2 - Converter para num√©rico (account.Charges.Total)

In [91]:
# transformar valores num√©ricos que est√£o como texto (object) em n√∫mero, e tamb√©m vazio e invalidos.
df['account.Charges.Total'] = pd.to_numeric(
      df['account.Charges.Total'],
          errors='coerce'
          )
df['account.Charges.Total'].isna().sum()

np.int64(11)

2.4 - COLUNA DE CONTAS DI√ÅRIAS

2.5 - PADRONIZA√á√ÉO E TRANSFORMA√á√ÉO DE DADOS

#üìä 3 - CARGA E AN√ÅLISE

3.1 - AN√ÅLISE DESCRITIVA

3.2 - DISTRIBUI√á√ÉO DA EVAS√ÉO

3.3 - CONTAGEM DE EVAS√ÉO POR VARI√ÅVEIS CATEG√ìRICAS

3.4 - CONTAGEM DE EVAS√ÉO POR VARI√ÅVEIS NUM√âRICAS

3.5 - AN√ÅLISE DE CORRELA√á√ÉO ENTRE VARI√ÅVEIS

#üìÑ4 - RELAT√ìRIO FINAL